@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  background-image: url("../Images/background5.jpeg");
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 20px;
  background-image: url("../Images/back7.jpeg");
}

h1 {
  font-size: 3em; }

.aboutMe {
  display: inline-block;
  width: 37%; }

.profileInfo {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  padding-left: 1em;
  line-height: 1.5em; }

.headshot {
  border-radius: 180px; }

.resume,
.linkedIn,
.portfolio {
  display: inline-block;
  margin-top: 40px;
  margin-left: 20px;
  width: 50%;
  padding: 10px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  position: relative;
  color: black;
  border-radius: 180px;
 }

h4 {
   margin-top: 30px;
   margin-bottom: 30px;
}

.skills span {
  display: inline-block;
   text-decoration: none;
   color: initial;
   font-family: monospace;
   padding: 10px;
   border-radius: 12px;
   background-color: white;
   margin-right: 10px;
   margin-bottom: 30px;
 }

 .resume p,
 .linkedIn p,
 .portfolio p {
  margin-top: 25px !important;
}

.resume a,
.linkedIn a,
.portfolio a {
  text-decoration: none;
  vertical-align: middle; }

.content {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  padding-left: 1em;
  line-height: 1.5em; }

.heading {
  font-size: 2em;
  text-align: center; }

.image {
  display: inline-block;
  width: 37%;
  border-radius: 10px;
  margin-right: 80px; }

.headshot {
  border-radius: 180px;
  width: 250px;
  height: 250px;
}

.skilldiv {
  text-align: center; }

li.contact {
  color: #333030;
  margin-top: 20px;
  text-decoration-style: solid;
}

.profileHeading {
  display: inline-block;
  width: 37%;
}

button {
  border-radius: 10px;
  padding: 5px 5px;
  background-color: #C6D7EC;
  margin-top: 20px;
}

.projectDescription {
  font-size: 1.2em;
}

.ProjectHeading {
  text-align: center;
}

p .title {
  size: 1.2em;
}
.searchbar {
  margin-top: 20px;
  text-align: center;
}
.projectShow {
  margin-left: 0 !important;
}

h4 span {
  size: 2em !important;
}

.cardSkills span {
  display: inline-block;
  margin-right: 10px;
  color: initial;
  border-radius: 12px;
  background-color: #EFF2F5;
  padding: 5px 10px;
  margin-bottom: 5px;
  vertical-align: middle;
}

a.nav-link {
    padding-left: 0.9rem !important;
}

#submit {
  border-radius: 10px;
  padding: 5px 5px;
  background-color: #C6D7EC;
}

#phoneImage,
#emailImage,
#gitImage {
  display: inline-block;
}
#phone,
#email,
#git {
  margin-left: 10px;
  display: inline-block;
  margin-top: 15px;
}
